alias ll='eza --color=always --long --git --icons=always --all --total-size'
alias l='eza --color=always --long --git --icons=always --all'
alias cat='bat'

export BAT_THEME="DarkNeon"
export PATH="$PATH:/home/eracigo/.config/nmvn"
export EDITOR=nvim

alias java8='export JAVA_HOME="/Library/Java/JavaVirtualMachines/temurin-8.jdk/Contents/Home"'
alias java11='export JAVA_HOME="/opt/homebrew/opt/openjdk@11"'
alias java21='export JAVA_HOME="/opt/homebrew/opt/openjdk@21"'
alias vim='java21 && nvim'
